.App{
    color: #02475e;
}

.App #title {
    padding-top: 50px;
    font-size: 60px;
    margin-bottom: 100px;
    font-weight: bold;
    position: relative;
    
}

.App #description {
    padding-top: 50px;
    font-size: 28px;
    margin-bottom: 100px;
    position: relative;
}

.App .login_div{
    margin-top: 125px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.App .login_div .credential{
    margin-top: 30px;
}

.App .login_div .help{
    margin-top: 40px;
    font-size: 20px;
}

.App .login_div .credential input, select{
    margin-left: 20px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.App .login_div .credential select{
    width: 300px;
}

.App #homediv{
    margin: 0 auto;
    width: 70%;
    height: 900px;
    display: flex;
}

.App #homediv #homediv_left{
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
}

.App #homediv #homediv_right{
    width: 50%;
    float: left;
    height: 100%;
}

.App #homediv #homediv_left #homediv_imgdiv{
    position: relative;
    width: 100%;
    float: left;
    height: 65%;
}

.App #homediv #homediv_left #homediv_descdiv{
    position: relative;
    width: 100%;
    float: left;
    height: 30%;
}

.App #homediv #homediv_left #homediv_imgdiv #homediv_img{
    max-width: 100%;
    max-height: 100%;
}

.App p{
    font-size: 180%;
    font-weight: bold;
}

.App #homediv #homediv_right input{
    position: relative;
    height: 5%;
    width: 45%;
    font-size: 20px;
    text-align: center;
    border: 1px solid blue;
    border-radius: 5px;
}

.App label{
    position: relative;
    margin-top: 5%;
    padding-bottom: 15%;
    font-size: 30px;
    font-weight: bold;
}

.App .login_header{
    margin-top: 15%;
    margin-bottom: 10%;
}

.App .redirector{
    font-size: 25px;
    margin-top: 5%;
    background-color: #2978b5;
    color: white;
    padding: 15px;
    border-radius: 15px;
}

.App #log_data_profile{
    max-width: 150px;
    max-height: 150px;
    padding-top: 150px;
}

#username{
    font-size: 300%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 5%;
}
  

li {
    display: inline;
    padding-right: 3%;
    font-size: 180%;
    font-weight: bold;
}

li a{
    text-decoration: none;
    color: #344fa1;
    padding-bottom: 1%;
}

li a:hover{
    color:#3d84b8;
}

.App .accountData{
    display: inline-block;
    margin-top: 5%;
    width: 50%;
}

.App .accountData .accountDataField{
    text-align: left;
}

.App .accountData .accountDataValue{
    float:right;
}

.App .accountData .upgradeplan{
    border: 5px solid #325288;
    border-radius: 20px;
}

.App .a_redirector{
    background-color: transparent;
    border : none;
    font-size: 28px;
    color : #344fa1;
    font-weight: bold;
}

.App .a_redirector:hover{
    font-size: 30px;
    color : #3d84b8;
}